*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:poppins;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}


:root{
    --text-color:#85A900;
    --hover-color:#85A900;
    --bg-color:#250821;
    --second-bg-color:#292e33;
    --big-font:2.5rem;
    --normal-font:2rem;
    --neon-box-shadow:0 0 1px #85A900;
    --neon-text-shadow:0 0 10px rgba(145,177,25,0.6),
    0 0 20px rgba(145,177,25,0.6),
    0 0 30px rgba(145,177,25,0.6),
    0 0 40px rgba(145,177,25,0.6),
    0 0 70px rgba(145,177,25,0.6),
    0 0 80px rgba(145,177,25,0.6),
    0 0 100px rgba(145,177,25,0.6),
    0 0 150px rgba(145,177,25,0.6),
    0 0 150px rgba(145,177,25,0.6);
    
}

body{
    background-color: var(--second-bg-color);
}

.logo{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.logo img{
    height: 170px;
    width: 190px;
 }

.connexion{
    width: 100%;
    height: auto;
    background-color: var(--second-bg-color);
    padding: 30px 30%;
  
}

.submit{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  
}



.form div{
    margin-bottom: 10px;
}

.btn-submit{
    border: none;
    padding: 0 20%;
}

.contact-head{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    font-size: clamp(5px,1.5vw,80px);
}

.contact-head h1{
    color: var(--hover-color);

}

.form{
    display: flex;
    flex-direction: column;
}

#name,#price,#stock,#category,#etat{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--bg-color);
    border: none;
    color: white;
    padding-left: 20px;
}

label{
    color: white;
}

#description{
    width: 100%;
    border-radius: 5px;
    background-color: var(--bg-color);
    border: none;
    color: white;
    padding-left: 20px;
}

#image{
    width: 100%;
    border-radius: 5px;
    background-color: var(--bg-color);
    border: none;
    color: white;
    padding-left: 20px;
}

.btn{

    padding: 12px 30px;
    border-radius: 5px;
   
}

.btn1{
    background-color:var(--hover-color);
    margin-right: 10px;
    font-weight: 700;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    color: var(--big-font);
    box-shadow:0 0 10px rgba(145,177,25,0.6),
    0 0 10px rgba(145,177,25,0.6),
    0 0 10px rgba(145,177,25,0.6);
}

form p{
    color: white;
    margin-bottom: 30px;
}

form a{
    color: var(--hover-color);
}

.connexion-contain{
    border: 2px solid var(--hover-color);
    border-radius: 10px;
    height: auto;
    padding: 3px 5%;
}

@media screen and (max-width:1280px) {

    .connexion{
        padding: 5% 18%;
    }

    #Email::placeholder{
        font-size: 18px;
  }

  #password::placeholder{
    font-size: 18px;
}

#username::placeholder{
    font-size: 18px;
}

#user_type::placeholder{
    font-size: 18px;
}

#user_type{
    font-size: 17px;
}


#Email{
    height: 70px;
}

#password{
    height: 70px;
}

#username{
    height: 70px;
}

#user_type{
    height: 70px;
}
.contact-head h1{
    color: var(--hover-color);
    font-size: 40px;
}

form p{
    color: white;
    margin-bottom: 30px;
    font-size: 20px;
}

.btn1{
    font-size: 25px;
    color: #292e33;
}

}

@media screen and (max-width:884px) {

    .connexion{
        padding: 170px 13%;
       
    }

    #Email::placeholder{
        font-size: 18px;
  }

  #password::placeholder{
    font-size: 18px;
}

#username::placeholder{
    font-size: 18px;
}

#user_type::placeholder{
    font-size: 18px;
}

#Email{
    height: 70px;
}

#password{
    height: 70px;
}

#username{
    height: 70px;
}

#user_type{
    height: 70px;
}

.contact-head h1{
    color: var(--hover-color);
    font-size: 40px;
}

form p{
    color: white;
    margin-bottom: 30px;
    font-size: 20px;
}

.btn1{
    font-size: 25px;
    color: #292e33;
}

}

@media screen and (max-width:500px) {

    .connexion{
        padding: 80px 3%;
       
    }

    .logo img{
        height: 130px;
        width: 150px;
     }
   
     .contact-head h1{
        color: var(--hover-color);
        font-size: 30px;
    }

    form p{
        color: white;
        margin-bottom: 30px;
        font-size: 18px;
        text-align: right;
        margin-right: 10px;
    }
}

@media screen and (max-width:400px) {

    .connexion{
        padding: 40px 3%;
       
    }
   
     .contact-head h1{
        color: var(--hover-color);
        font-size: 27px;
    }

    form p{
        color: white;
        margin-bottom: 30px;
        font-size: 16px;
        text-align: right;
        margin-right: 10px;
    }
}

@media screen and (max-width:372px) {

    .connexion{
        padding: 27px 3%;
    }

    .logo img{
        height: 130px;
        width: 150px;
     }
   
     .contact-head h1{
        color: var(--hover-color);
        font-size: 24px;
    }

    form p{
        color: white;
        margin-bottom: 30px;
        font-size: 16px;
        text-align: right;
        margin-right: 10px;
    }

    #Email{
        height: 50px;
    }
    
    #password{
        height: 50px;
    }

    #username{
        height: 50px;
    }

    #user_type{
        height: 50px;
    }

    .btn1{
        font-size: 20px;
        color: #292e33;
    }
}

@media screen and (max-width:350px) {

    .connexion{
        padding: 35px 3%;
    }

    .logo img{
        height: 130px;
        width: 150px;
     }
   
     .contact-head h1{
        color: var(--hover-color);
      
    }

    form p{
        color: white;
        margin-bottom: 30px;
        font-size: 16px;
        text-align: right;
        margin-right: 10px;
    }

    #Email{
        height: 50px;
    }
    
    #password{
        height: 50px;
    }

    #username{
        height: 50px;
    }

    #user_type{
        height: 50px;
    }
    

    .btn1{
        font-size: 20px;
        color: #292e33;
    }
}