*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:poppins;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root{
    --text-color:#85A900;
    --hover-color:#85A900;
    --bg-color:#250821;
    --second-bg-color:#292e33;
    --big-font:2.5rem;
    --normal-font:2rem;
    --neon-box-shadow:0 0 1px #85A900;
    --neon-text-shadow:0 0 10px rgba(145,177,25,0.6),
    0 0 20px rgba(145,177,25,0.6),
    0 0 30px rgba(145,177,25,0.6),
    0 0 40px rgba(145,177,25,0.6),
    0 0 70px rgba(145,177,25,0.6),
    0 0 80px rgba(145,177,25,0.6),
    0 0 100px rgba(145,177,25,0.6),
    0 0 150px rgba(145,177,25,0.6),

    
}

.products{
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: var(--second-bg-color);
    
}

#quantity{
    width: 40px;
    padding-left: 5px;
    font-weight: bold;
    border:2px solid var(--hover-color);
}

.product-category {
    margin-bottom: 40px;
}

.product-category h2 {
    border-bottom: 2px solid var(--hover-color);
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: var(--hover-color);
}

.product-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
   
    gap: 20px;
    margin-bottom: 20px;
}

.products-head{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
    gap: 20px;
    color: white;
}

.product-card {
    background-color:white;
    border: 2px solid var(--hover-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 340px;
    box-sizing: border-box;
    text-align: center;

}

.product-card p{
    width: 100%;
    color: #85A900;
    text-align: center;
    flex-wrap: wrap;
   
}

.product-card img {
    max-width: 100%;
    height: 200px;
    border-radius: 8px;
}

.product-card h3 {
    margin: 15px 0 10px;
    font-size: 18px;
    display: flex;
}

.product-card h4 {
   display: flex;
   font-weight: 400;
   color: var(--hover-color);
}

.product-card p {
    font-size: 14px;
    color: #666;
    display: flex;
}


.product-card button {
    background-color: var(--hover-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.product-card button:hover {
    background-color: #45a049;
}

#contact{
    position: relative;

}

.indice{
    position: relative;
    top: -13px;
    right: 8px;
    background-color: red;
    font-size: 13px;
    padding: 1px 7px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

