*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:poppins;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root{
    --text-color:#85A900;
    --hover-color:#85A900;
    --bg-color:#250821;
    --second-bg-color:#292e33;
    --big-font:2.5rem;
    --normal-font:2rem;
    --neon-box-shadow:0 0 1px #85A900;
    --neon-text-shadow:0 0 1px rgba(145,177,25,0.6);
    /* 0 0 10px rgba(145,177,25,0.6),
    0 0 10px rgba(145,177,25,0.6),
    0 0 40px rgba(145,177,25,0.6),
    0 0 70px rgba(145,177,25,0.6),
    0 0 80px rgba(145,177,25,0.6),
    0 0 100px rgba(145,177,25,0.6),
    0 0 150px rgba(145,177,25,0.6), */
    
    
}



.header-container{
    
    width: 100%;
    background-color: var(--second-bg-color);
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 9px 10%;
     position: sticky;
     z-index: 100;
     margin: 0;
     top: 0;
}

.logo img{
   height: 110px;
   width: 120px;
}





.navbar{
    display: flex;
    
    
}

.navbars{
    display: none;
    
}

.navbar a{
    padding: 0;
    margin: 0;
    color: var(--hover-color);
    font-weight: bold;
    font-size: 17px;
}

.navbars a{
    padding: 0;
    margin: 0;
    color: var(--hover-color);
    font-weight: bold;
    font-size: 17px;
}



.navbars a:hover{
    color: var(--hover-color);
    text-shadow:0 0 10px rgba(145,177,25,0.6),
    0 0 10px rgba(145,177,25,0.6) ;
}





.navbar a:hover{
    color: var(--hover-color);
    text-shadow:0 0 10px rgba(145,177,25,0.6),
    0 0 10px rgba(145,177,25,0.6) ;
}


.navbar li{
   
   margin-left: 35px;
}


.hamburger{
   
   display: none;
  
}

.hamburger span{
    display: inline-block;
    height: 4px;
    width: 28px;
   background-color: black;
}

/* home section------------------------------------------------------------------------------- */


.home-content h1{
    color:var(--text-color);
    font-size: clamp(35px,2.3vW,80px);
    font-weight: bold;
}



.home-content h2{
    color:var(--text-color);
    font-weight: bold;
    font-size: clamp(24px,2vW,60px);
}

.home-content span{
    color: var(--hover-color);
}

.home-content p{
    color: white;
   
}

.home-content{

    height: auto;
}
.home-content-infos{
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-top: 20px;
    width: 100%;
  
}

.infos1,.infos2 {
    
    color: var(--text-color);
    font-weight: 700;
}

.infos1 span{
    color: white;
    opacity: 0.7;
    font-weight: 400;
}

.infos2 span{
    color: white;
    opacity: 0.7;
    font-weight: 400;
}

.btns{
    margin-top: 40px; 
    margin-bottom: 80px;
    width: 100%;
}

.btn{

    padding: 12px 30px;
    border-radius: 5px;
   
}

.btn1{
    background-color:var(--hover-color);
    margin-right: 10px;
    font-weight: 700;
    position: relative;
    overflow: hidden;
    box-shadow:0 0 10px rgba(145,177,25,0.6),
    0 0 10px rgba(145,177,25,0.6),
    0 0 10px rgba(145,177,25,0.6);
}

.btn2{
    background-color:transparent;
    color: var(--hover-color);
    border: 2px solid var(--hover-color);
    box-shadow:0 0 10px rgba(145,177,25,0.6);
    position: relative;
    
}

.btn1 span{
    color: var(--second-bg-color);
    position: relative;
    z-index: 4;
}

.btn1::after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: var(--second-bg-color);
    border-radius: 5px;
    transition: width 0.3s ease-in-out;
    box-shadow:0 0 10px rgba(145,177,25,0.6),
    0 0 10px rgba(145,177,25,0.6),
    0 0 10px rgba(145,177,25,0.6);
}

.btn1:hover::after{
    width: 100%;
}
.btn1:hover span{
    color:var(--hover-color);
}


.btn2 span{
    font-weight: bold;
    color: var(--hover-color);
    position: relative;
    z-index: 4;
}


.btn2::after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: var(--hover-color);
    border-radius: 3px;
    transition: width 0.3s ease-in-out;
    box-shadow:0 0 10px rgba(145,177,25,0.6),
    0 0 10px rgba(145,177,25,0.6),
    0 0 10px rgba(145,177,25,0.6);
}

.btn2:hover::after{
    width: 100%;
}
.btn2:hover span{
    color:var(--second-bg-color);
}
.icons{display: flex;}


.icons .icon{
 
   height: 45px;
   width: 45px;
    border: solid 2px var(--hover-color);
    border-radius: 3px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.icon i{
    font-size: 20px;
    color: var(--hover-color);
    text-shadow:0 0 10px rgba(145,177,25,0.6),
    0 0 10px rgba(145,177,25,0.6) ;
    position: relative;
    z-index: 4;
}

.icons .icon::after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--hover-color);
    transition: width 0.3s ease-in-out;
    border-radius: 1px;
}

.icons .icon:hover::after{
    width: 100%;
}

.icons .icon:hover i{
    color: var(--bg-color);
}


section{
    width: 100%;
    padding: 15px 10%;
    height: auto;
}

.home{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 20px 10%;
    min-height: 100vh;
    background-color: var(--second-bg-color);
    

}

.home-image{
   display: flex;
  align-items:start;
   justify-content: center;
   position: relative;
}


 .img1{

    position: absolute;
    top: 70px;
    left:0px;
    z-index: -1;
   height: 100%;
   width: 100%;
}


.img4{

    position: absolute;
    top: 110px;
    left: 50px;
    z-index: -2;
   height: 80%;
   width: 80%;
   filter: blur(50px);
   animation: tourne 15s infinite linear;
   transition: rotate 1s ease-in-out;
}

.img2{
    height: 100%;
    width: 100%;
    max-width: 700px
}

.img-box{
    text-align:center;
}

@keyframes tourne {
    100%{
        transform: rotate(360deg)
    }
    
}

/* about section------------------------------------------------------------------------------- */


.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: white;
    width: 100%;
    max-width: fit-content;
}

.img-about{
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-content{
   
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    padding: 20px 15px;
}

.about-img1{
    height: 100%;
    width: 100%;
}
 

.about .span1{
    color: var(--text-color);
    font-size: 14px;

}

.about h1
{
    color: var(--hover-color);
    padding: 0;
    margin: 0;
    font-size: 30px;
}

.about h2
{
    color: var(--text-color);
}

.about p{
    color:var(--second-bg-color);
    font-weight:400;
    font-size: 14px;
}

/* service section------------------------------------------------------------------------------- */

.service{
    background-color: var(--bg-color);
    padding: 35px 9%;
}


.service-head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
}
.service-head h1{
    color: var(--hover-color);
}

.service-head span {
    color: rgba(255, 255, 255, 0.5);
}

.box-icon{

    height:190px;
    width: 190px;
    background-size: cover;
    
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 2px solid var(--hover-color);

}

.box{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: auto;
    width: 350px;
    border-radius: 7px;
    background-color: var(--second-bg-color);
    padding: 20px 10px;
    transition: translateY 2s ease-in-out;
}

.box h1{
    color: var(--text-color);
    text-align: center;
    font-size: 22px;
}

.box p{
    text-align: center;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    padding: 0 10px;
}

.box i{
    color: var(--hover-color);
    font-size: 40px;
}

.service-grid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.box:hover{
    transform: translateY(-10px);
}

.box-icon1{
    background-image: url('../img/electronique.jpg');
    background-position: center;
}

.box-icon2{
    background-image: url('../img/industriel.jpg');
    background-position: top;
}

.box-icon3{
    background-image: url('../img/donnee.jpg');
    background-size: contain;
}

.box-icon4{
    background-image: url('../img/34.jpg');
    background-size: contain;
}

.box-icon5{
    background-image: url('../img/sensibilisation.jpg');
    background-size: cover;
    background-position: center;
   
}

.box-icon6{
    background-image: url('../img/compost.jpg');
    background-size: cover;
}


/* section contact------------------------------------------------------------------------------- */

.contact{
    background-color: var(--second-bg-color);
    padding: 0 20%;
    width: 100%;

}

.contact-head{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.contact-head span
{
    color:white ;
}

.contact-head h1{
    color: var(--hover-color);
    
}

.form{
    
    display: flex;
    flex-direction: column;

}

#Email,#name,#adress,#phone{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--bg-color);
    border: none;
    color: white;
    padding-left: 20px;
}




textarea{
    width: 100%;
    border-radius: 5px;
    background-color: var(--bg-color);
    border: none;
    color: white;
    padding-left: 20px;
}



.submit{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.form div{
    margin-bottom: 10px;
}

.btn-submit{
    border: none;
}


/* section zero-dechet------------------------------------------------------------------------------- */


figure{
    height: 300px;
    width: 280px;
    margin-bottom: 70px;
}

figure img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;

}

.images{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}

figcaption{
    color: #f5f5f5;
    font-weight: bold;
}

.zero-dechet{
    background-color: var(--second-bg-color);
    padding: 25px 15%;
}

.illustration{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
    color: var(--hover-color);
    font-size: 20px;
    margin-bottom: 15px;
}


.bloc{
    width: 100%;
    height: auto;
    background-color: var(--bg-color);
    border-radius: 10px;
    box-shadow: 1px 1px 15px rgba(0,0,0, 0.2);
}

.mess{
    text-align: center;
    padding-top: 20px;
}

.table{
    width: 100%;
    margin: 30px auto;
   
    

}

td{
    text-align: center;
    
 

}

th{
border-bottom: 1px solid #85A900;
}

td i:nth-child(1){
    margin-right: 5px;
}

td i:nth-child(2){
    margin-left: 25px;
}

tr{
    height: 40px;
}

td{
    color: white;
}



.containers h1{
    color: var(--hover-color);
}

.containers{
    width: 100%;
   
    background-color: var(--second-bg-color);
    height: auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding:20px 10%;
}

.thead{
    height: 30px;
    border-radius: 10px;
    background-color: var(--hover-color);
    color: white;
}

@media screen and (max-width:450px) {

    .containers{
    width: 100%;
   
    background-color: var(--second-bg-color);
    height: auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding:20px 2%;
}
}

.mot-change{
    text-shadow:0 0 10px rgba(145,177,25,0.6),
    0 0 10px rgba(145,177,25,0.6),
    0 0 10px rgba(145,177,25,0.6) ;
    margin-left: 10px;
}

.tiret{
    margin-left: 5px;
    width: 7px;
    background-color: white;
    height: 30px;
    display: inline-block;
    animation: bink 1s infinite;
}

@keyframes bink {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}


.home-content h2{
   display: flex;
   align-items: center;
   justify-content: start;
}